@import url(./font.css);

/* O'zgaruvchilar */

:root {
    --MB: "MB", sans-serif;
    --MM: "MM", sans-serif;
    --MR: "MR", sans-serif;
    --PO: 'PO', sans-serif;
    --primary: #000;
    --secondary: #fff;
    --dark-gray: #282828;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: var(--primary);
}

.page__header {
    background-color: var(--dark-gray);
    padding-block: 6px;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav__link {
    color: var(--secondary);
    font-family: var(--MB);
    font-size: 20px;
    line-height: 24px;
}

.user__action {
    display: flex;
    align-items: center;
    gap: 25px;
}


.banner {
    height: 625px;
    background-image: url(../image/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 38px;
}

.banner__title {
    color: var(--secondary);
    font-family: var(--PO);
    font-size: 100px;
    line-height: 75px;
}

.banner__link {
    padding: 13px 14px;
    background-color: var(--secondary);
    border-radius: 10px;
    color: rgba(23, 23, 24, 1);
    font-family: var(--MM);
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 11px;
}

.product {
    margin-top: 30px;
}

.product__content {
    display: flex;
    gap: 30px;
}

.content__text {
    margin-top: 33px;
    color: var(--secondary);
    font-family: var(--MM);
    font-size: 22px;
    line-height: 27px;
}

.content__img {
    max-width: 552px;
    width: 100%;
}

.product__content:nth-of-type(2) {
    margin-top: 50px;
    align-items: center;
}

.info {
    margin-top: 50px;
}

.info__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content__left-text,
.content__right-text {
    color: var(--secondary);
    font-family: var(--MM);
    font-size: 22px;
    line-height: 27px;
    text-align: right;
    max-width: 333px;
    width: 100%;
}

.content__right-text {
   text-align: left;
}